<div class="all">
  <div class="section1">
    <div class="section-background"></div>
    <div class="container-background">
      <div class="image1">
        <div class="main-image">
          <div class="main-image-background"></div>
          <div class="main-overlay"></div>
        </div>
      </div>

      <div class="healine-groom">
        <h3 class="groom-name">Mạnh Hiếu</h3>
      </div>

      <div class="healine-and">
        <h3 class="and">&</h3>
      </div>

      <div class="healine-bride">
        <h3 class="bride-name">Thuỳ Linh</h3>
      </div>

      <div class="healine-title">
        <h3 class="invitation-text">Trân trọng kính mời<br /></h3>
      </div>

      <div class="healine-invitation">
        <h3 class="invitation-name">
          <div
            style="
              display: inline-block;
              padding: 0px 10px 2px 10px;
              border-radius: 15px;
              border: 1px solid #e6b066;
              background-color: #748e8a;
            "
          >
            <span style="display: block; word-wrap: break-word; max-width: 100%"
              >Bạn Chiến Cò đẹp trai</span
            >
          </div>
          <br />
        </h3>
      </div>

      <div class="image2">
        <div class="decorate-image">
          <div class="decorate-image-background"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section2">
    <div class="original-section-background"></div>
    <div class="original-container">
      <div class="original-element">
        <div class="original-group">
          <div class="original-image">
            <div class="original-image-background"></div>
          </div>
        </div>
      </div>
      <div class="original-element">
        <h3 class="original-headline">Save The<br />Date<br /></h3>
      </div>
      <div class="original-element">
        <div class="original-group">
          <div class="original-element">
            <h3 class="original-headline">09</h3>
          </div>
          <div class="original-element">
            <h3 class="original-headline">2025</h3>
          </div>
          <div class="original-element">
            <h3 class="original-headline">11</h3>
          </div>
          <div class="original-element">
            <div class="original-line">
              <div class="original-line-container"></div>
            </div>
          </div>
          <div class="original-element">
            <div class="original-line">
              <div class="original-line-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
