html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "font1";
  src: url("/assets/fonts/If2RXTr6YS-zF4S-kcSWSVi_szLgiuE.woff2")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
